.aabody {
    padding: 83px;
    background-image: url("../assets/background.png");
    background-size: 100% auto;
    background-position: right 35% bottom 66%;
    background-repeat: no-repeat; 
  }