*{
    margin: 0px;
    padding: 0px;
}

.container {
    max-width: 1140px; 
    padding-right: 15px; 
    padding-left: 15px; 
    margin-right: auto; 
    margin-left: auto; 
}

/*make the footer at the bottom of the page */
html, body {
    height: 100%; 
}
.app-container {
   display: flex;
   flex-direction: column;
   min-height: 100vh; 
}